In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('adhd.csv')
df

,author,body,created_utc,id,num_comments,score,subreddit,title,upvote_ratio,url
0,HotConversation1273,A few months ago I was accepted into this full...,2021-12-22T18:32:56.000Z,rmbjwb,1,1,ADHD,I get extremely anxious if I’m not working 24/7,1.00,https://www.reddit.com/r/ADHD/comments/rmbjwb/...
1,snorefestt,"Hey guys, I was curious if anyone else has the...",2021-12-22T18:24:25.000Z,rmbd1y,3,5,ADHD,"I can't will myself to clean my own house, but...",1.00,https://www.reddit.com/r/ADHD/comments/rmbd1y/...
2,etyf12,\n\ni have 6 exams in the next 2 weeks one of...,2021-12-22T18:22:52.000Z,rmbbvu,1,2,ADHD,i need some help,1.00,https://www.reddit.com/r/ADHD/comments/rmbbvu/...
3,GetHairOrDieTryin,Is there anyone out there that is struggling w...,2021-12-22T18:20:35.000Z,rmba1t,3,2,ADHD,Anyone up for a chat?,1.00,https://www.reddit.com/r/ADHD/comments/rmba1t/...
4,ZeroTransPat,"Whenever I get hungry, I never eat because I d...",2021-12-22T18:18:47.000Z,rmb8lm,2,1,ADHD,Figuring out what to eat sucks,1.00,https://www.reddit.com/r/ADHD/comments/rmb8lm/...
...,...,...,...,...,...,...,...,...,...,...
37104,[deleted],[removed],2021-10-01T20:42:32.000Z,pzgotj,1,1,ADHD,How many of you with adhd also have dyslexia?,1.00,https://www.reddit.com/r/ADHD/comments/pzgotj/...
37105,inquisitiveADHDdude,Since the DSM was recently updated. ADD now fa...,2021-10-01T20:41:21.000Z,pzgnxt,1,2,ADHD,Non Inattentive ADHD anyone?,1.00,https://www.reddit.com/r/ADHD/comments/pzgnxt/...
37106,[deleted],I have a particularly worrying mental health i...,2021-10-01T20:39:03.000Z,pzgmcf,4,2,ADHD,Crazy Cognitive Distortions over buying a Nint...,1.00,https://www.reddit.com/r/ADHD/comments/pzgmcf/...
37107,ihatereddit2434,I have these meds that I have to take in the m...,2021-10-01T20:30:55.000Z,pzggse,2,4,ADHD,I find myself not doing the simplest of tasks,0.84,https://www.reddit.com/r/ADHD/comments/pzggse/...
37108,pinkmor,I am supposed to be taking 18Mg Concerta but I...,2021-10-01T20:28:11.000Z,pzgewf,2,0,ADHD,Scared of taking 18Mg Concerta due to my extre...,0.25,https://www.reddit.com/r/ADHD/comments/pzgewf/...

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37109 entries, 0 to 37108
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   author        37109 non-null  object
 1   body          37109 non-null  object
 2   created_utc   37109 non-null  object
 3   id            37109 non-null  object
 4   num_comments  37109 non-null  int64
 5   score         37109 non-null  int64
 6   subreddit     37109 non-null  object
 7   title         37109 non-null  object
 8   upvote_ratio  37109 non-null  float64
 9   url           37109 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 2.8+ MB

In [22]:
df['text'] = df['title'] + '\n' + df['body']
df.drop(df.columns.difference(['text','subreddit']), axis=1, inplace=True)
df

      subreddit                                               text
0          ADHD  I get extremely anxious if I’m not working 24/...
1          ADHD  I can't will myself to clean my own house, but...
2          ADHD  i need some help\n \n\ni have 6 exams in the n...
3          ADHD  Anyone up for a chat?\nIs there anyone out the...
4          ADHD  Figuring out what to eat sucks\nWhenever I get...
...         ...                                                ...
37104      ADHD  How many of you with adhd also have dyslexia?\...
37105      ADHD  Non Inattentive ADHD anyone?\nSince the DSM wa...
37106      ADHD  Crazy Cognitive Distortions over buying a Nint...
37107      ADHD  I find myself not doing the simplest of tasks\...
37108      ADHD  Scared of taking 18Mg Concerta due to my extre...

[37109 rows x 2 columns]

In [24]:
df2 = pd.read_csv('depression.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24031 entries, 0 to 24030
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   author        24031 non-null  object
 1   body          24031 non-null  object
 2   created_utc   24031 non-null  object
 3   id            24031 non-null  object
 4   num_comments  24031 non-null  int64
 5   score         24031 non-null  int64
 6   subreddit     24031 non-null  object
 7   title         24031 non-null  object
 8   upvote_ratio  24031 non-null  float64
 9   url           24031 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 1.8+ MB

In [25]:
df2['text'] = df2['title'] + '\n' + df2['body']
df2.drop(df2.columns.difference(['text','subreddit']), axis=1, inplace=True)
df2

        subreddit                                               text
0      depression  *Tries to communicate my pain to others becaus...
1      depression  New here. While I dont seriously consider suic...
2      depression  Wellbutrin\nHas Wellbutrin ever worked for any...
3      depression  Why am I?\nHello, I have been asking this ques...
4      depression  what’s therapy like?\n(not rily sure when to u...
...           ...                                                ...
24026  depression           I don't know how to stop this\n[deleted]
24027  depression             i have never felt like this\n[removed]
24028  depression  My dad thinks I’m not mentally ill enough\n[de...
24029  depression  i feel like nobody gives a shit about me\n[del...
24030  depression                                  Hahaha\n[deleted]

[24031 rows x 2 columns]

In [26]:
uniq = df2['subreddit'].unique()
uniq.sort()
uniq, len(uniq)

(array(['depression'], dtype=object), 1)

In [8]:
df[df['event'].isin([10, 11, 12, 13])]

                                                     text  event
12      36YOF AT WORK BIT BY AN INSECT ON THE RIGHT IN...     13
18      41YOF STRUCK IN THE MOUTH BY A HOOF OF A MINIA...     13
31      34 YOM ATTACKED BY A SUSPECT SUSTAINING A SPRA...     11
34      28 YOM WAS COACHING WRESTLING AND TOOK KNEE TO...     12
58      DX ELBOW CONTUSION 31YOM ARM INJURY POLICE OFF...     11
...                                                   ...    ...
229788  27YOF S P CAT BITE OTJ         DX PUNCTURE WOU...     13
229789  50YOF S P CAT BITE OTJ         DX CAT BITE OPE...     13
229790  32YOM OTJ S P ASSAULT HIT IN HEAD W UNK OBJECT...     11
229793  42YOF OTJ WAS STRUCK IN ARM BT PATIENTS FAMILY...     11
229813  59YOM S P ASSAULT WHILE OTJ HIT IN HEAD      D...     11

[21540 rows x 2 columns]

In [9]:
df[df['event'] == 10]

                                                     text  event
80942   30YOM WRESTLING W ANOTHER PERSON PERSON WEIGHT...     10
89227   24YOM PRESENTS WITH A GSW TO CHEST WHILE AT WO...     10
148248  51YOM PAIN TO L 5TH FINGER WHEN RESPONDING TO ...     10
160590  25 YOM WAS AT WORK AT SUSTAINED A GUN SHOT WOU...     10

In [15]:
df['text'][80942], df['text'][89227], df['text'][148248], df['text'][160590]

('30YOM WRESTLING W ANOTHER PERSON PERSON WEIGHTS 300LB LANDED ON HAND ALL OCCURED AT WORK DX SPRAIN LOW BACK',
 '24YOM PRESENTS WITH A GSW TO CHEST WHILE AT WORK    DX GSW',
 '51YOM PAIN TO L 5TH FINGER WHEN RESPONDING TO A SITUATION AT WORK AND A SITUATION BROKE OUT INRING FINGER  FINGER FX',
 '25 YOM WAS AT WORK AT SUSTAINED A GUN SHOT WOUND TO HIS THIGHDX LEFT FEMUR FRACTURE DUE TO GUNSHOT WOUND')

In [18]:
df[df['event'] == 13]

                                                     text  event
12      36YOF AT WORK BIT BY AN INSECT ON THE RIGHT IN...     13
18      41YOF STRUCK IN THE MOUTH BY A HOOF OF A MINIA...     13
85      30 YO F C O RASH ON LT ARM AND LT LEG THAT STA...     13
92      27 Y O M WAS AT WORK COW JUMPED OVER FENCE AND...     13
133     42 YOM BITTEN ON FINGER BY A DOG WHILE WORKING...     13
...                                                   ...    ...
229592  32YM PO BITTEN TO THE POST THIGH BY UTD C SHOT...     13
229668  29YOF C O DOG BITE TO HAND OTJ       DX DOG BI...     13
229721  53 YF WAS BITTEN ON NECK BY AN INSECT AT WORK ...     13
229788  27YOF S P CAT BITE OTJ         DX PUNCTURE WOU...     13
229789  50YOF S P CAT BITE OTJ         DX CAT BITE OPE...     13

[4861 rows x 2 columns]

In [15]:
df.to_csv('input_refined.csv')