In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_dataset.csv')
df

,id,text,sex,age,event
0,1,34YOM LIFTING BOXES AT WORK OVER USE OF HAND D...,1,34,71
1,2,A 28YOF BURNED ARM ON HOT GRILL AT WORK,2,28,53
2,3,A 67YOF WAS CLEANING AROUND CHAIRS IN SURGERY ...,2,67,55
3,4,24YF INJURED AT WORK REC INJURY WHEN TEST TUBE...,2,24,62
4,5,24YOF HAD A DRAWER FALL ON FINGER AT WORK ...,2,24,62
...,...,...,...,...,...
229815,229816,44YOM OTJ INJURED ON TABLE DX L WRIST S...,1,44,60
229816,229817,58 YF WAS AT WORK LIFTING HEAVY ITEMS AND INJU...,2,58,71
229817,229818,31 YF HURT SHOULDER LIFTING A HEAVY BAG OF GRO...,2,31,71
229818,229819,33 YM WORKED 2 16 HR SHIFTS AND SUFFERED PAIN ...,1,33,99
229819,229820,25 YF WAS SPLASHED IN THE FACE W BLOOD WHILE P...,2,25,55

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229820 entries, 0 to 229819
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      229820 non-null  int64
 1   text    229820 non-null  object
 2   sex     229820 non-null  int64
 3   age     229820 non-null  int64
 4   event   229820 non-null  int64
dtypes: int64(4), object(1)
memory usage: 8.8+ MB

In [4]:
df.drop(df.columns.difference(['text','event']), axis=1, inplace=True)
df

                                                     text  event
0       34YOM LIFTING BOXES AT WORK OVER USE OF HAND D...     71
1                 A 28YOF BURNED ARM ON HOT GRILL AT WORK     53
2       A 67YOF WAS CLEANING AROUND CHAIRS IN SURGERY ...     55
3       24YF INJURED AT WORK REC INJURY WHEN TEST TUBE...     62
4       24YOF HAD A DRAWER FALL ON FINGER AT WORK     ...     62
...                                                   ...    ...
229815  44YOM OTJ INJURED ON TABLE        DX L WRIST S...     60
229816  58 YF WAS AT WORK LIFTING HEAVY ITEMS AND INJU...     71
229817  31 YF HURT SHOULDER LIFTING A HEAVY BAG OF GRO...     71
229818  33 YM WORKED 2 16 HR SHIFTS AND SUFFERED PAIN ...     99
229819  25 YF WAS SPLASHED IN THE FACE W BLOOD WHILE P...     55

[229820 rows x 2 columns]

In [7]:
uniq = df['event'].unique()
uniq.sort()
uniq, len(uniq)

(array([10, 11, 12, 13, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 40,
        41, 42, 43, 44, 45, 49, 50, 51, 52, 53, 54, 55, 56, 59, 60, 61, 62,
        63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 78, 79, 99]),
 48)

In [8]:
df[df['event'].isin([10, 11, 12, 13])]

                                                     text  event
12      36YOF AT WORK BIT BY AN INSECT ON THE RIGHT IN...     13
18      41YOF STRUCK IN THE MOUTH BY A HOOF OF A MINIA...     13
31      34 YOM ATTACKED BY A SUSPECT SUSTAINING A SPRA...     11
34      28 YOM WAS COACHING WRESTLING AND TOOK KNEE TO...     12
58      DX ELBOW CONTUSION 31YOM ARM INJURY POLICE OFF...     11
...                                                   ...    ...
229788  27YOF S P CAT BITE OTJ         DX PUNCTURE WOU...     13
229789  50YOF S P CAT BITE OTJ         DX CAT BITE OPE...     13
229790  32YOM OTJ S P ASSAULT HIT IN HEAD W UNK OBJECT...     11
229793  42YOF OTJ WAS STRUCK IN ARM BT PATIENTS FAMILY...     11
229813  59YOM S P ASSAULT WHILE OTJ HIT IN HEAD      D...     11

[21540 rows x 2 columns]

In [9]:
df[df['event'] == 10]

                                                     text  event
80942   30YOM WRESTLING W ANOTHER PERSON PERSON WEIGHT...     10
89227   24YOM PRESENTS WITH A GSW TO CHEST WHILE AT WO...     10
148248  51YOM PAIN TO L 5TH FINGER WHEN RESPONDING TO ...     10
160590  25 YOM WAS AT WORK AT SUSTAINED A GUN SHOT WOU...     10

In [15]:
df['text'][80942], df['text'][89227], df['text'][148248], df['text'][160590]

('30YOM WRESTLING W ANOTHER PERSON PERSON WEIGHTS 300LB LANDED ON HAND ALL OCCURED AT WORK DX SPRAIN LOW BACK',
 '24YOM PRESENTS WITH A GSW TO CHEST WHILE AT WORK    DX GSW',
 '51YOM PAIN TO L 5TH FINGER WHEN RESPONDING TO A SITUATION AT WORK AND A SITUATION BROKE OUT INRING FINGER  FINGER FX',
 '25 YOM WAS AT WORK AT SUSTAINED A GUN SHOT WOUND TO HIS THIGHDX LEFT FEMUR FRACTURE DUE TO GUNSHOT WOUND')

In [18]:
df[df['event'] == 13]

                                                     text  event
12      36YOF AT WORK BIT BY AN INSECT ON THE RIGHT IN...     13
18      41YOF STRUCK IN THE MOUTH BY A HOOF OF A MINIA...     13
85      30 YO F C O RASH ON LT ARM AND LT LEG THAT STA...     13
92      27 Y O M WAS AT WORK COW JUMPED OVER FENCE AND...     13
133     42 YOM BITTEN ON FINGER BY A DOG WHILE WORKING...     13
...                                                   ...    ...
229592  32YM PO BITTEN TO THE POST THIGH BY UTD C SHOT...     13
229668  29YOF C O DOG BITE TO HAND OTJ       DX DOG BI...     13
229721  53 YF WAS BITTEN ON NECK BY AN INSECT AT WORK ...     13
229788  27YOF S P CAT BITE OTJ         DX PUNCTURE WOU...     13
229789  50YOF S P CAT BITE OTJ         DX CAT BITE OPE...     13

[4861 rows x 2 columns]

In [15]:
df.to_csv('input_refined.csv')